<div>
  <div style="margin-top: 20px">
    <input type="text" #inputMessage />
    <button (click)="sendMessage(inputMessage.value)">Send Message</button>
  </div>
  <ul>
    <li *ngFor="let message of messages">
      <span style="font-weight: bold">{{ message.username }}:</span>
      <span>{{ message.message }}</span>
    </li>
  </ul>
</div>
