<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="chatMessage">
      <h2 data-cy="chatMessageDetailsHeading"><span>Chat Message</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ chatMessage.id }}</span>
        </dd>
        <dt><span>Message</span></dt>
        <dd>
          <span>{{ chatMessage.message }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ chatMessage.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/chat-message', chatMessage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
